---
Checks:            '-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,google-readability-*,modernize-*,performance-*,readability-*'
WarningsAsErrors:  ''
HeaderFilterRegex: '.*'
FormatStyle:       'file'
User:              sebastian
