# Format Style Options - Created with Clang Power Tools
---
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignOperands: Align 
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Empty
BasedOnStyle: WebKit
BinPackArguments: false
BinPackParameters: false
BraceWrapping: 
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: false
  BeforeWhile: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
BreakBeforeBinaryOperators: None
ExperimentalAutoDetectBinPacking: false
ColumnLimit: 160
Cpp11BracedListStyle: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyReturnTypeOnItsOwnLine: 80
ReflowComments: false
ReferenceAlignment: Left
SortIncludes: false
SpaceBeforeCtorInitializerColon: false
TabWidth: 4
UseTab: ForContinuationAndIndentation
...
